In [6]:
# Downloading Dataset

In [3]:
!curl -L -o green_tripdata_2025-11.parquet https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1137k  100 1137k    0     0  1334k      0 --:--:-- --:--:-- --:--:-- 1333k

In [5]:
!curl -L -o taxi_zone_lookup.csv https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 12322  100 12322    0     0  11032      0  0:00:01  0:00:01 --:--:-- 55008

In [25]:
import pandas as pd
from pathlib import Path
from tqdm.auto import tqdm
import pyarrow.parquet as pq

In [36]:
# Reading the greentrip data for 2025


greentrip_file_path = Path.cwd()

greentrip_datafile = greentrip_file_path/"Week_1_datasets"/"green_tripdata_2025-11.parquet"

greentrip_df = pd.read_parquet(greentrip_datafile)

greentrip_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [40]:
# Reading the taxi zone lookup data


taxizonelookup_file_path = Path.cwd()

taxizonelookup_datafile = taxizonelookup_file_path/"Week_1_datasets"/"taxi_zone_lookup.csv"

taxizonelookup_df = pd.read_csv(taxizonelookup_datafile)

len(taxizonelookup_df)

265

In [ ]:
# Lets move the two dataframes into a Postgresql database so we can easily query

from sqlalchemy import create_engine
from sqlalchemy import text

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [39]:
# Moving green_taxi data to Postgresql

target_table = 'taxizonelookup_data'

# Use PyArrow's ParquetFile to read in batches
parquet_file = pq.ParquetFile(greentrip_datafile)
num_row_groups = parquet_file.num_row_groups

print(f"Total number of row groups: {num_row_groups}")
print(f"Total rows in dataframe: {len(greentrip_df)}")

first = True
total_rows_inserted = 0

for i in tqdm(range(num_row_groups)):
    # Read one row group at a time
    row_group = parquet_file.read_row_group(i)
    greentaxi_df_chunk = row_group.to_pandas()
    
    print(f"Row group {i}: {len(greentaxi_df_chunk)} rows")

    
    if first:
        greentaxi_df_chunk.head(0).to_sql(
                name=target_table,
                con=engine,
                if_exists='replace',
                index=False
            )
        first = False

    greentaxi_df_chunk.to_sql(
        name=target_table,
        con=engine,
        if_exists='append',
        index=False
    )
    total_rows_inserted += len(greentaxi_df_chunk)

print(f"\nTotal rows inserted: {total_rows_inserted}")

Total number of row groups: 1
Total rows in dataframe: 46912

  0%|          | 0/1 [00:00<?, ?it/s]

Row group 0: 46912 rows

Total rows inserted: 46912

In [43]:
## Moving taxizone lookup data to Postgresql

target_table = 'taxizonelookup_data'

taxizonelookup_df = pd.read_csv(
        taxizonelookup_datafile
)

print(f"Total rows to insert: {len(taxizonelookup_df)}")

taxizonelookup_df.head(0).to_sql(
        name=target_table,
        con=engine,
        if_exists='replace',
        index=False
)

taxizonelookup_df.to_sql(
    name=target_table,
    con=engine,
    if_exists='append',
    index=False
)

print(f"\n Successfully inserted {len(taxizonelookup_df)} rows into '{target_table}' table")

Total rows to insert: 265

 Successfully inserted 265 rows into 'taxizonelookup_data' table

In [44]:
# convert this notebook to a python script
!uv run jupyter nbconvert --to=script Week1_solution.ipynb

[NbConvertApp] Converting notebook Week1_solution.ipynb to script
[NbConvertApp] Writing 2903 bytes to Week1_solution.py